/* Github */
.gist table {
    margin: 0;
    font-size: 1.4rem;
}
.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}

/* CUSTOM */

.main-header {
  height: 350px;
}

.blog-title {
  color: white;
  text-shadow: 0px 0px 15px black;
}

article header * .blog-title {
  color: black;
  text-shadow: none;
  font-size: 0.8em;
  line-height: 0.8em;
  font-family: 'Droid Serif', serif;
}

article header * .blog-description {
  font-size: 0.8em;
  line-height: 0.8em;
  font-family: 'Droid Serif', serif;
}

.post-content img {
  box-shadow: 0px 0px 15px #666;
}

img.featured {
  height: 1em;
  float: left;
  margin-left: -1.25em;
  padding-right: 0.25em;
}

.FlattrButton {
  margin: 0;
}

form#searchForm {
  float: right;
}

form#searchForm div {
  line-height: 1em;
  padding-left: 1em;
}

form#searchForm div input {
  background: inherit;
  border: transparent 1px solid;
  font-family: 'Open Sans', sans-serif';
  height: 38px;
  padding: 0 20px;
  font-size: 12px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid white;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white;
}

img.emoji {
  display: inline !important;
  height: 1.2em;
  box-shadow: none;
}

.creative-commons {
  text-align: center;
  font-size: small;
  background: #fafafa;
}
